<div class="sidebar">
  <div class="menu">

    <div class="menu-item" routerLink="/quick-rent">
      <span class="material-icons">flash_on</span>
      <span>Quick Rent Available</span>
    </div>

    <div class="menu-item" routerLink="/orders">
      <span class="material-icons">shopping_bag</span>
      <span>My Orders</span>
    </div>

    <div class="menu-item" routerLink="/coins">
      <span class="material-icons">monetization_on</span>
      <span>Unio Coins</span>
    </div>

    <div class="menu-item" routerLink="/settings">
      <span class="material-icons">settings</span>
      <span>Settings</span>
    </div>

    <div class="menu-item" routerLink="/help">
      <span class="material-icons">help_outline</span>
      <span>Help</span>
    </div>

  </div>

  <div class="logout">
    <span class="material-icons">logout</span>
    <span>Log out</span>
  </div>
</div>
